---
import BaseLayout from "../layouts/BaseLayout.astro";
---
<BaseLayout title="Allard Lab — Home" description="Computational and mathematical biophysics research at UC Irvine" page="home">
  <div class="row">
    <div class="columns small-12">
      <div style="text-align:justify">
        <p>Cells are nanometer-scale problem solving machines. Our broad goal is to understand how cells use force, space and time to perform tasks and exploit problem solving strategies. We use mathematical and computational modeling, in collaboration with experimentalists at UC Irvine and around the world.</p>

        <img src="/images/PXL_20230221_052352091~2.jpg" alt="Allard Lab group photo" class="responsive t20 b30">

        <p>We are a part of the University of California, Irvine, the <a href="https://ccbs.uci.edu/">Center for Complex Biological Systems</a>, the <a href="https://cellfate.uci.edu">NSF-Simons Center for Multiscale Cell Fate Research</a>, <a href="https://www.math.uci.edu/">Department of Mathematics</a>, <a href="https://www.physics.uci.edu/">Department of Physics and Astronomy</a>, and the <a href="https://champ.uci.edu/">Chemical and Materials Physics (ChaMP)</a> program.</p>

        <p>We're always interested in hearing from prospective graduate students and postdocs interested in modeling cell mechanics. Prospective grad students should look into our PhD program in <a href="https://ccbs.uci.edu/education/mcsb/">Mathematical, Computational and Systems Biology</a>.</p>
      </div>
    </div>
  </div>
</BaseLayout>
